body{
    background-color: azure;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 10px auto;
}
header{
    border: 1px solid;
}
header .top {
    height: 50px;
    margin: 0px 200px;
}
header .top img{
    height: 40px;
    margin: 5px;
}
header .top p{
    font-weight: bold;
}
footer {
    border: 1px solid;
}
footer .mid {
    border: 1px solid;
    margin: 10px 30px;
    padding: 10px 20px;
}